body {
    max-width: 62rem;
    margin: 0px 8.5rem;
    font-family: "Mulish";
}

:root {
    --header-color: rgb(255, 255, 255);
    --tour-title-color: rgb(19, 19, 24);
    --tour-description-color: rgba(19, 19, 24, 0.7);
}

.primary-button {
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    padding: 1rem 2rem;
}

/* ********  banner-section star  ********* */

.banner-container {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    height: 31rem;
}

.banner {
    text-align: center;
}

.banner-title {
    color: var(--header-color);
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6rem;
    margin: 0;
}


.banner-description {
    color: var(--header-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem 15rem 3rem 15rem;
}

.input-fild {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 3rem;
    gap: 2rem;

}

.input-fild input,
.travel {
    width: 10rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    gap: 2rem;
    border-radius: 0.5rem;
}

#travel-search {
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    color: var(--header-color);
}

/* ********  banner-section end  ********* */

/* ********Our Popular Tours section start ******* */
.popular-tour-container {
    display: flex;
    padding: 16rem 0;
    gap: 3rem;
}

.popular-tour-img img {
    height: 34rem;
    width: 33rem;
}

.tour-title {
    color: var(--tour-title-color);
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

.tour-description {
    color: var(--tour-description-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
}

ul>li {
    color: var(--tour-description-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 0;
}
/* ********Our Popular Tours section end ******* */



/* ***************responsive *************/

/* ***************** small device  *********** */

@media screen and (max-width:600px) {


    .banner-title {
        color: var(--header-color);
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 3rem;
    }

    .banner-description {
        color: var(--header-color);
        font-size: 1rem;
        font-weight: 400;
        padding: 0;

    }

    .input-fild input,
    .travel {
        width: 8rem;
        padding: 0.5rem;
        margin: 1rem;
        border: none;
        border-radius: 0.5rem;
    }

    .input-fild {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 0 3rem;

    }
/* ********Our Popular Tours responsive ******* */

    .popular-tour-container {
        flex-direction: column;
        padding: 0rem;
        padding-bottom: 1rem;
    }

    .tour-title {
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }

    .popular-tour-img img {
        height: 100%;
        width: 100%;
    }

}